{% extends 'base.html' %}


{% block content %}
<form id="form" method="post" action="/problems/process_preferences/">
  {% csrf_token %}
  <h2>What would you like to work on today?</h2>
  <ul class="menu">
  {% for skill in skills %}
    <li><a href="#">{{ skill.name }}
      {% if skill.concept_set.all %}
         <ul class="sub-menu">
           {% for concept in skill.concept_set.all %}
              <input type="radio" name="concept_radiobtn" id="concept_radiobtn{{ forloop.counter }}" value="{{ concept.pk }}">
              <label for="concept_radiobtn{{ forloop.counter }}">{{ concept.name }}</label><br>
           {% endfor %}
         </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  <button id="radiobtn_submit"> Go!</button>

  <script type="text/javascript">
        $('.sub-menu').hide(); //Hide sub-menu default
        $("a").click(function() {
            $(this).children('.sub-menu').slideToggle('slow');
        }).children('.sub-menu').click(function (event) {
            event.stopPropagation()
        });

        $(document).ready( function() {
            $("#radiobtn_submit").click( function(event) {
                document.getElementById('form').submit();
            });
        });
  </script>
{% endblock %}
