<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}EdRendezvous{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

{% if topics %}
    <p> Students learn faster by working together through problems. </p>
    <p> Ed Rendezvous would match you to a peer based on your topics of interest and skills </p>
    <ul>
    {% for topic in topics %}
        <li><a href="/problems/show_preferences/{{ topic.name }}/">{{ topic.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics available.</p>
{% endif %}
{% endblock %}`
