{% extends 'base.html' %}


{% block content %}
  <p>Matching with a peer now </p>

  <script type="text/javascript">
    (function worker() {
    $.ajax({
      url: '/live_collaboration/ajax/matching_poll',
      dataType: 'json',
      success: function(data) {
          console.log("In success")
          debugger
          if (data.status == 1) {
            console.log(data.url)
            window.location.href = data.url;
          }
      },
      complete: function() {
        // Schedule the next request when the current one's complete
        console.log("In complete")
        debugger
        setTimeout(worker, 5000);
      }
    });
    })();
  </script>
{% endblock %}
